#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp-server/dhcpd.conf.example
#   see dhcpd.conf(5) man page
#
option domain-name "lab.example.com";
default-lease-time 86400;
authoritative;

# options
# IP of the DNS server for this subnet
# Default gateway for this subnet
# Broadcast address for this subnet
#
# maximum lease time
# after this clients in this subnet release the IP  
# and send a new request to the server: 172800 seconds (2 days)
#
# Ansible customized this file using jinja2 and variables.
# variable example for the DNS server
# lab_mac_prefix  52:54:00:03
# DNS server gets a MAC address like this. 52:54:00:03:00:05
# lab_net_prefix  192.168.132
# DNS server gets an IP address like this. 192.168.132.5

subnet {{ lab_net_prefix }}.0 netmask 255.255.255.0 {
  range {{ lab_net_prefix }}.20 {{ lab_net_prefix }}.99;
  option broadcast-address {{ lab_net_prefix }}.255;
  max-lease-time 172800;
}

# receive a MAC address, reply with an IP address
#
host gateway.lab.example.com {
    hardware ethernet {{ lab_mac_prefix }}:00:03;
    fixed-address {{ lab_net_prefix }}.3;
}

# receive a MAC address, reply with 
# * IP address
# * DNS address
# * gateway address
#
group {
    option domain-name-servers {{ lab_net_prefix }}.5;
    option routers {{ lab_net_prefix }}.1;
    host ipsal.lab.example.com {
        hardware ethernet {{ lab_mac_prefix }}:00:04;
        fixed-address {{ lab_net_prefix }}.4;
    }
    host id.lab.example.com {
        hardware ethernet {{ lab_mac_prefix }}:00:05;
        fixed-address {{ lab_net_prefix }}.5;
    }
    host message.lab.example.com {
        hardware ethernet {{ lab_mac_prefix }}:00:06;
        fixed-address {{ lab_net_prefix }}.6;
    }
    host monitor.lab.example.com {
        hardware ethernet {{ lab_mac_prefix }}:00:07;
        fixed-address {{ lab_net_prefix }}.7;
    }
    host git.lab.example.com {
        hardware ethernet {{ lab_mac_prefix }}:00:08;
        fixed-address {{ lab_net_prefix }}.8;
    }
}
